In [1]:
import numpy as np
import pandas as pd
import nselib
from nselib import capital_market

In [2]:
# Get user input for date
date_input = input("Enter the date in DD-MM-YYYY format (e.g., 01-05-2024): ")

# Fetch Bhav Copy data for the specified date
df = capital_market.bhav_copy_with_delivery(date_input)

Enter the date in DD-MM-YYYY format (e.g., 01-05-2024):  03-04-2024

In [3]:
# Apply conditions to filter the dataframe

df['DELIV_PER'] = pd.to_numeric(df['DELIV_PER'], errors='coerce')
condition = (df['SERIES'] == 'EQ') & (df['TURNOVER_LACS'] > 100) & (df['DELIV_PER'] > 85.00) # Add more conditions as needed
new_df = df[condition]

In [4]:
# Display the first few rows and columns of the dataframe

print(df.columns.to_list()), print()
new_df.head()

['SYMBOL', 'SERIES', 'OPEN_PRICE', 'HIGH_PRICE', 'LOW_PRICE', 'CLOSE_PRICE', 'PREV_CLOSE', 'TTL_TRD_QNTY', 'TURNOVER_LACS', 'NO_OF_TRADES', 'DELIV_QTY', 'DELIV_PER', 'DATE1']

,SYMBOL,SERIES,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,PREV_CLOSE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DATE1
10,63MOONS,EQ,441.65,441.65,441.65,441.65,420.65,32834,145.01,285,32834,100.00,03-Apr-2024
55,AAVAS,EQ,1420.00,1424.95,1391.00,1395.55,1415.45,425529,5981.45,19734,369277,86.78,03-Apr-2024
264,AXISNIFTY,EQ,248.80,248.80,239.51,241.58,241.54,495659,1195.79,321,489331,98.72,03-Apr-2024
302,BANKETF,EQ,473.74,477.43,472.44,476.48,475.31,67108,319.32,89,63974,95.33,03-Apr-2024
303,BANKETFADD,EQ,47.15,48.06,47.15,47.95,47.84,740022,355.40,148,735634,99.41,03-Apr-2024

In [ ]:
# Save filtered dataframe to CSV

output_path = '/home/subhamde/Desktop/Final Year Project/Stock-Tweets/Data/after_sort2.csv'
new_df.to_csv(output_path, index=False)
print(f"CSV file saved successfully at: {output_path}")